
hardware/W27C512Programmer-backups/*
\#auto_saved_files\#
.DS_Store
/hardware/Gerbertest
hardware/fp-info-cache
hardware/fp-info-cache
hardware/fp-info-cache
hardware/fp-lib-table
hardware/fp-info-cache
hardware/fp-info-cache
verify.bin
