
hardware/W27C512Programmer-backups/*
\#auto_saved_files\#
.DS_Store
/hardware/Gerbertest
hardware/fp-info-cache
hardware/fp-info-cache
hardware/fp-info-cache
hardware/fp-lib-table
hardware/fp-info-cache
hardware/fp-info-cache
verify.bin
hardware/~W27C512Programmer.kicad_pcb.lck
hardware/~W27C512Programmer.kicad_sch.lck
hardware/fp-info-cache
hardware/fp-info-cache
hardware/~_autosave-W27C512Programmer.kicad_pcb.lck
hardware/_autosave-W27C512Programmer.kicad_pcb
hardware/fp-info-cache
hardware/fp-info-cache
/hardware/RelativelyUniversalROMProgrammer-backups
hardware/~RelativelyUniversalROMProgrammer.kicad_pcb.lck
hardware/~RelativelyUniversalROMProgrammer.kicad_sch.lck
